/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-inline {
	/*	font-family: Arial, Helvetica, sans-serif; */
	font-size: 14px;
	padding: 0;
	margin: 0;
	width: 185px;
}

#ui-datepicker-div {
	display: none;
	border: 1px solid #777;
	z-index: 9999; /*must have*/
}

.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}

.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}

button.ui-datepicker-trigger {
	width: 25px;
}

img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}

.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}

* html .ui-datepicker-prompt {
	width: 185px;
}

.ui-datepicker-control, .ui-datepicker-header, .ui-datepicker {
	clear: both;
}

.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header,
	.ui-datepicker {
	float: left;
	width: 100%;
	color: #fff;
}

.ui-datepicker-control {
	background: #400;
	padding: 2px 0px;
}

.ui-datepicker-links {
	padding: 2px 0px;
}

.ui-datepicker-control, .ui-datepicker-links {
	font-weight: bold;
	font-size: 80%;
}

.ui-datepicker-links label { /* disabled links */
	padding: 2px 5px;
	color: #888;
}

.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	/* width: 34%; */
}

.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev
	{
	float: right;
	text-align: right;
	background-color: inherit;
}

.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}

.ui-datepicker-close, .ui-datepicker-next {
	/*	float: right;
	width: 34%;
	text-align: right;*/
	
}

.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next
	{
	float: left;
	text-align: left;
}

.ui-datepicker-header {
	padding: 3px 0 3px;
	text-align: center;
	color: black;
	font-weight: bold;
}

.ui-datepicker-header select {
	background: #333;
	color: #fff;
	border: 0px;
	font-weight: bold;
}

.ui-datepicker-header a {
	color: black;
	padding: 1px 4px;
}

.ui-datepicker-header a:hover {
	color: black;
	border: 1px solid black;
	padding: 1px 4px;
	background-color: white;
}

.ui-datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}

.ui-datepicker a {
	display: block;
	width: 100%;
}

.ui-datepicker-title-row {
	background: #777;
}

.ui-datepicker-days-row {
	background: #eee;
	color: #666;
}

.ui-datepicker-week-col {
	background: #777;
	color: #fff;
}

.ui-datepicker-days-cell {
	color: #000;
	border: 1px solid #EEE;
	padding: 2px 0;
	width: 22px;
}

.ui-datepicker-days-cell a {
	display: block;
}

.ui-datepicker-week-end-cell {
	background: #ddd;
}

.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #777;
}

.ui-datepicker-days-cell-over {
	background: #fff;
	border: 1px solid #777;
}

.ui-datepicker-unselectable {
	color: #DDD;
	background-color: #EEE;
}

.ui-datepicker-today {
	background: #FBB !important;
}

.ui-datepicker-today.ui-datepicker-current-day {
	background: #600 !important;
	color: white;
}

.ui-datepicker-current-day.ui-datepicker-otherMonth {
	background: inherit !important;
}

.ui-datepicker-status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}

.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 0 !important;
}

.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
	/* color: black !important; */
}

.ui-datepicker-title-row a {
	color: #eee !important;
}

.ui-datepicker-control a:hover {
	background: #fdd !important;
	color: #333 !important;
}

.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
	/*	background: #ddd !important;
	color: #333 !important; */
	
}

/* ___________ MULTIPLE MONTHS _________*/
.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #777;
}

.ui-datepicker-one-month {
	float: left;
	width: 185px;
}

.ui-datepicker-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */
.ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}

.ui-datepicker-links {
	background-color: inherit;
	font-size: 11px;
}

.ui-datepicker-links a, .ui-datepicker-links label {
	font-size: 14px;
}

.datepicker ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.datepicker ul li {
	padding: 0 10px 0 0;
	margin: 0;
	float: left;
}

.ui-datepicker-current-day {
	background: black;
}

.ui-datepicker-current-day a {
	color: white; /* !important */
}

.ui-datepicker-links {
	float: left;
	height: 140px;
	width: 21px;
	padding: 0;
	margin: 0;
}

.ui-datepicker-links label {
	padding: 0;
	margin: 0;
}

.ui-datepicker-new-row {
	clear: none;
}

.ui-datepicker-links img {
	margin-top: 20px;
	height: 120px;
	width: 16px;
}

.ui-datepicker-prev img {
	padding-right: 2px;
	margin-right: 3px;
	border-right: 1px solid #DDD;
	width: 16px;
	height: 140px;
}

.ui-datepicker-next img {
	float: left;
	padding-left: 2px;
	margin-left: 3px;
	border-left: 1px solid #DDD;
	width: 16px;
	height: 140px;
}

.ui-datepicker-current {
	display: none;
}

.ui-datepicker-week-col {
	cursor: pointer;
}

.ui-datepicker-week-over {
	
}

.ui-datepicker-week-over td, .ui-datepicker-week-over td a {
	background-color: #FFF !important;
	color: black !important;
}

.datepicker div.toggle-arrow {
	padding: 0.4em 0;
}

.datepicker a.locale-chosen-date {
	font-size: 1.8em;
	text-decoration: none;
	color: black;
	padding: 0.2em 0 0.3em 0.2em;
}

.datepicker a.toggle-arrow img {
	padding-top: 0.5em;
}

/*
 * Zesk additions
 */
.zesk-ui-datepicker {
	height: 160px;
	padding-bottom: 10px;
}

.datepicker .ui-datepicker-inline {
	width: 980px;
	display: block;
	position: relative;
}

.datepicker .toggle-arrow {
	width: 600px;
}

.datepicker ul.choices {
	clear: both;
	padding-left: 19px;
	width: 800px;
}

.datepicker ul.choices li {
	padding: 0px 10px 8px 0;
}