.control-picker-state {
  padding: 10px 0;
}
.control-picker-state .item {
  color: #AAA;
  background-color: #FFF;
  border: 1px solid #AAA;
  display: block;
  float: left;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
.control-picker-state .item .checked,
.control-picker-state .item .unchecked {
  font-size: 3em;
  position: absolute;
  right: 10px;
  top: 14px;
}
.control-picker-state .item .checked {
  display: none;
}
.control-picker-state .item .unchecked {
  display: block;
}
.control-picker-state .item.selected {
  border: 1px solid #000;
  background-color: #EEE;
  color: #000;
}
.control-picker-state .item.selected .checked {
  display: block;
}
.control-picker-state .item.selected .unchecked {
  display: none;
}
.control-picker-state:before,
.control-picker-state:after {
  content: " ";
  display: table;
}
.control-picker-state:after {
  clear: both;
}
.control-picker-state.selectable {
  padding: 10px 0;
}
.control-picker-state.selectable .item.selected-over {
  background-color: #EEE;
}
.control-picker-state.selectable .item.selected-over .checked {
  display: none;
}
.control-picker-state.selectable .item.selected-over .unchecked {
  display: block;
}
.control-picker-state.selectable .item.unselected-over {
  background-color: #EEE;
  color: #000;
}
.control-picker-state.selectable .item.unselected-over .checked {
  display: none;
}
.control-picker-state.selectable .item.unselected-over .unchecked {
  display: block;
}
.control-picker-state.selectable .item.selected.selected-over {
  color: #AAA;
}
.control-picker-state.selectable .item.selected.selected-over .checked {
  display: block;
}
.control-picker-state.selectable .item.selected.selected-over .unchecked {
  display: none;
}
.control-picker-state.selectable .item.selected.unselected-over {
  color: #000;
}
.control-picker-state.selectable .item.selected.unselected-over .checked {
  color: #000;
  display: block;
}
.control-picker-state.selectable .item.selected.unselected-over .unchecked {
  display: none;
}
.control-picker-selector .control-picker-none-selected {
  font-size: 100%;
  font-weight: bold;
  border: 1px solid #EEE;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 5px;
}
.control-picker-selector .control-picker-results {
  padding: 0;
}
.control-picker-selector .control-picker-results .item {
  color: #AAA;
  background-color: #FFF;
  border: 1px solid #AAA;
  display: block;
  float: left;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
.control-picker-selector .control-picker-results .item .checked,
.control-picker-selector .control-picker-results .item .unchecked {
  font-size: 3em;
  position: absolute;
  right: 10px;
  top: 14px;
}
.control-picker-selector .control-picker-results .item .checked {
  display: none;
}
.control-picker-selector .control-picker-results .item .unchecked {
  display: block;
}
.control-picker-selector .control-picker-results .item.selected {
  border: 1px solid #000;
  background-color: #EEE;
  color: #000;
}
.control-picker-selector .control-picker-results .item.selected .checked {
  display: block;
}
.control-picker-selector .control-picker-results .item.selected .unchecked {
  display: none;
}
.control-picker-selector .control-picker-results .item.selected-over {
  background-color: #EEE;
}
.control-picker-selector .control-picker-results .item.selected-over .checked {
  display: none;
}
.control-picker-selector .control-picker-results .item.selected-over .unchecked {
  display: block;
}
.control-picker-selector .control-picker-results .item.unselected-over {
  background-color: #EEE;
  color: #000;
}
.control-picker-selector .control-picker-results .item.unselected-over .checked {
  display: none;
}
.control-picker-selector .control-picker-results .item.unselected-over .unchecked {
  display: block;
}
.control-picker-selector .control-picker-results .item.selected.selected-over {
  color: #AAA;
}
.control-picker-selector .control-picker-results .item.selected.selected-over .checked {
  display: block;
}
.control-picker-selector .control-picker-results .item.selected.selected-over .unchecked {
  display: none;
}
.control-picker-selector .control-picker-results .item.selected.unselected-over {
  color: #000;
}
.control-picker-selector .control-picker-results .item.selected.unselected-over .checked {
  color: #000;
  display: block;
}
.control-picker-selector .control-picker-results .item.selected.unselected-over .unchecked {
  display: none;
}
.control-picker-selector .control-picker-results:before,
.control-picker-selector .control-picker-results:after {
  content: " ";
  display: table;
}
.control-picker-selector .control-picker-results:after {
  clear: both;
}
