.settings
.buildpath
.cvsignore
.project
/cache/
vendor/
*-min.js
*.codekit
*.codekit3
/share/js/zesk.min.js
/modules/*/cache
/modules/*/data
/modules/*/log
.update.json
.svn/
composer.lock
CHANGELOG.md.backup
.phpunit-testcase-last
