/.settings
/.vscode/
/.buildpath
/.cvsignore
/.project
/cache/
/vendor/
/*-min.js
/*.codekit
/*.codekit3
/share/js/zesk.min.js
/.update.json
/.svn/
/composer.lock
/CHANGELOG.md.backup
/.phpunit-testcase-last
/.php-cs-fixer.cache
/.idea/
/.history/
/.phpunit.result.cache
/.zesk-coverage/
/test-results/
/test-coverage/
/etc/maintenance.json
/fileCache/
/.bin/
/DEPRECATED/
/.build/
/.composer/
/.phpunit-cache/
/.memory_get_usage
/test.log
