<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         verbose="true" backupGlobals="false" bootstrap="test.application.php"
         convertErrorsToExceptions="true" convertWarningsToExceptions="true"
         convertNoticesToExceptions="true">
    <testsuites>
        <!--Test suite for Zesk web application framework -->
        <testsuite name="core">
            <directory>test/core</directory>
        </testsuite>
        <testsuite name="orm">
            <directory>modules/ORM/test</directory>
        </testsuite>
        <testsuite name="csv">
            <directory>modules/CSV/test</directory>
        </testsuite>
        <testsuite name="diff">
            <directory>modules/Diff/test</directory>
        </testsuite>
        <testsuite name="database">
            <directory>modules/Database/test</directory>
        </testsuite>
        <testsuite name="preference">
            <directory>modules/Preference/test</directory>
        </testsuite>
        <testsuite name="world">
            <directory>modules/World/test</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="zesk\PHPUnit_TestHooks"/>
    </extensions>
    <php>
        <const name="PHPUNIT" value="true"/>
    </php>
    <coverage cacheDirectory="./.zesk-coverage"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
</phpunit>
