<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         verbose="true" backupGlobals="false" bootstrap="test.application.php"
         convertErrorsToExceptions="true" convertWarningsToExceptions="true"
         convertNoticesToExceptions="true">
    <testsuites>
        <testsuite name="core">
            <directory>test/tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="zesk\PHPUnit_TestHooks" />
    </extensions>
    <php>
        <const name="PHPUNIT" value="true"/>
        <server name="ZESK_EXTRA_MODULES" value=""/>
        <!-- To properly get proper SVN version on Mac OS X -->
        <server name="PATH" value="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"/>
    </php><!--Test suite for Zesk web application framework -->
</phpunit>
