.layout-object {
	width: 150px;
	height: 40px;
	display: block;
	border-top: 5px solid #888;
	border-left: 5px solid #888;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	padding: 5px;
	margin: 0;
	background-color: #ABC;
	position: absolute;
	cursor: hand;
}

table.layout-table {
	border: 5px solid black;
}

table.layout-table td {
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 5px;
}

.layout-droppable {
	height: 70px;
	border: 5px solid #FFF;
	display: block;
}

.layout-droppable-active {
	background-color: #DDD !important;
	border: 5px solid #FFF;
}

.layout-droppable-hover {
	border: 5px solid #F00;
}