#colorscheme-control {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 1000;
	border: 2px solid black;
	padding: 0;
	margin: 0;
	display: block;
	width: 58px;
	height: 20px;
}
#colorscheme-control a {
	background-color: #EEE;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #AAA;
	border-right: 1px solid #AAA;
	padding: 0;
	margin: 0;
	display: block;
	width: 18px;
	height: 18px;
	float: left;
}
#colorscheme-control img {
	padding: 1px;
	border: 0;
}
#colorscheme-control a:hover {
	background-color: #777;
	border-left: 1px solid #AAA;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#colorscheme-control span {
	font-size: 15px;
	display: block;
	width: 10px;
	height: 18px;
	padding: 0;
	margin: 0 4px;
	float: left;
}
