.tabs-diagonal {
	
}

.tabs-diagonal img {
	display: inline;
	float: left;
}

.tabs-diagonal .tab0, .tabs-diagonal .tab1 {
	display: block;
	height: 20px;
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
}

.tabs-diagonal .tab0 {
	background-color: #CCC;
	background-image: url(/share/zesk/widgets/tab/diagonal/tab0.gif);
}

.tabs-diagonal .tab1 {
	background-color: #FFF;
	background-image: url(/share/zesk/widgets/tab/diagonal/tab1.gif);
}

.tabs-diagonal a, .tabs-diagonal .a {
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
	position: relative;
	bottom: -5px;
}