.tabs {
	position: relative;
	padding: 1px;
	z-index: 10;
}

.tablist
{
	padding: 3px 0 3px 15px;
	margin: 0;
	border-bottom: 1px solid #778;
	font: bold medium Verdana, sans-serif;;
}

.tablist img {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.tablist li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.tablist li a,
.tablist li span
{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	text-decoration: none;
}

* html .tablist li span,
* html .tablist li a
{
	padding: 3px 0.5em;
	font: bold medium Verdana, sans-serif;
}

.tablist li a:link { color: #448; }
.tablist li a:visited { color: #667; }

.tablist li a:hover
{
	color: #000;
	background-color: #AAE;
	border-color: #227;
}

a.tab_active,
span.tab_active
{
	background-color: white;
	border-bottom: 1px solid white !important;
}

a.tab_inactive,
span.tab_inactive
{
	background-color: #DDE;
	border-bottom: 1px solid #778;
}

a.tab_inactive_dhtml,
span.tab_inactive_dhtml
{
	background-color: #DDE;
	border-bottom: 1px solid white !important;
}

.tablist li span,
.tablist li a
{
	font: bold medium Verdana, sans-serif;
}

.tabs .extra
{
	position: absolute;
	right: 10px;
	top: 0;
	text-align: right;
}

* html .tabs .extra {
	z-index: -2;
}

.tab-dhtml-sections
{
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1em;
}

.tab-dhtml-section
{
	display: none;
}

