.dashboard-widget {
  display: block;
  margin: 10px;
  border: 1px solid black;
  width: 500px;
  float: left;
  -webkit-box-shadow: 5px 5px 10px #000000;
  -moz-box-shadow: 5px 5px 10px #000000;
  box-shadow: 5px 5px 10px #000000;
}
.dashboard-widget .header {
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
  background-color: #888888;
  background-image: -webkit-gradient(linear, left top, right top, from(#888888), to(#000000));
  background-image: -webkit-linear-gradient(left, #888888, #000000);
  background-image: -moz-linear-gradient(left, #888888, #000000);
  background-image: -ms-linear-gradient(left, #888888, #000000);
  background-image: -o-linear-gradient(left, #888888, #000000);
  background-image: linear-gradient(to right, #888888, #000000);
}
.dashboard-widget .header h2 {
  color: white;
  font-size: 1.5em;
  padding: 0;
  margin: 0 10px 0;
}
.dashboard-widget.error .header {
  background-color: #ff0000;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#000000));
  background-image: -webkit-linear-gradient(left, #ff0000, #000000);
  background-image: -moz-linear-gradient(left, #ff0000, #000000);
  background-image: -ms-linear-gradient(left, #ff0000, #000000);
  background-image: -o-linear-gradient(left, #ff0000, #000000);
  background-image: linear-gradient(to right, #ff0000, #000000);
}
.dashboard-widget.warning .header {
  background-color: #f7ec4f;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7ec4f), to(#000000));
  background-image: -webkit-linear-gradient(left, #f7ec4f, #000000);
  background-image: -moz-linear-gradient(left, #f7ec4f, #000000);
  background-image: -ms-linear-gradient(left, #f7ec4f, #000000);
  background-image: -o-linear-gradient(left, #f7ec4f, #000000);
  background-image: linear-gradient(to right, #f7ec4f, #000000);
}
.dashboard-widget .content {
  padding: 10px;
}
.dashboard-widget .content .percent {
  font-size: 2em;
  font-weight: bold;
}
.error {
  font-weight: bold;
  color: red;
}
body {
  padding-top: 50px;
}
